.ms-100{
    margin-left: 100px;
}
.w-80{
    /* there is no w-80 class thats why i made this utilities class */
    width: 80%;
}
.company-img{
    width: 80px;
}
.footer-bg{
    color: white;
    background-color: rgb(31, 30, 30);
}
.f-3{
    font-size: 12px;
    margin: 0%;
}
footer a{
    text-decoration: none;
    margin: 5px;
    color: white;
}
.register-bg{
    background-color: #1fc7c7d4;
}
.carousel-h1{
    font-size: 1.5rem;
}
.carousel-btn{
    padding: 0.5rem 0.6rem;
    background-color: aqua;
    border: none;
    border-radius: 5px;
    color: white;
}
.social-link{
    font-size: 2rem;
    margin: 10px;
}